<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="stylesheets/style.css">

    <title>t2-pew-edwardfigueroa</title>

    <!-- IMPORTS POLYMER -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>


    <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="../public/miscomponentes/cursos-periodo.html" />

    <link rel="import" href="../bower_components/polymer/polymer-micro.html">


    <script src="angular/moduleApp.js"></script>

</head>
<body>

<div class="main" ng-app="app">



    <div class="menu">
        <img src="./images/logo.png" alt="">
        <ul>

            <li><a href="index.html">Cursos por periodo</a></li>
            <li><a href="matricula.html">Matricular</a></li>
            <li><a href="nota.html">ver Notas</a></li>

        </ul>

    </div>
    <div class="content" ng-controller="controlMatricula">

        <!-- TITLE-->

        <div class="curso">

            <h2>Matricular Estudiante</h2>

        </div>

<div class="list-matricula">

        <form action=" ">


            <!--SELECCIONAR CURSO  -->
            Seleccione Materia<input list="materia" placeholder="materia" type="text" name="id_curso" ng-model="seleccionCurso">

            <datalist id="materia">
                <option value="{{c.id_curso}}" ng-repeat="c in cursosnotas |unique: 'cursos'">
                    {{c.nombre}}

                </option>

            </datalist>


            <!--SELECCIONAR ESTUDAIANTE  -->
            Seleccione Estudiante<input list="estudiante" placeholder="estudiante" type="text" name="id_estudiante" ng-model="seleccionEstudiante">

                    <datalist id="estudiante">

                        <option value="{{e.id_estudiante}}" ng-repeat="e in estudiantesNotas |unique: 'estudiantes'">
                            {{e.nombres}} {{e.apellidos}}

                        </option>
                    </datalist>


            <a href="index.html"> <input type="submit" ng-model="seleccionEstudiante" ng-model="seleccionCurso" ng-click="matricular(seleccionCurso,seleccionEstudiante)" value="listo"></a>

        </form>

    </div>

</div>

</div>
</body>
</html>
